body,html{
    overflow: hidden;
    height: 100vh;
    margin: auto;
    position: static;
    -webkit-tap-highlight-color: transparent;
}

/* desktop version */
div.desktop{
    animation: load_buttons_animation 1s;
}

div.desktop div.background img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

div.desktop div.navigation_bar{
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    left: 69vw;
    top: -40vh;
    animation: load_buttons_animation 1s;
}

div.desktop div.navigation_bar div img{
    width: 7vmax;
    animation: load_logo_animation 1s;
}

div.desktop div.navigation_bar div:hover{
    animation: shake_animation 1s;
    opacity: 1;
    animation-iteration-count: infinite;
}

div.desktop div.navigation_bar a{
    font-family: montserrat-bold;
    margin-right: 2.3vmax;
    color: black;
    text-decoration: none;
    font-size: 1.3vmax;
}

div.desktop div.navigation_bar a:hover{
    transform: translateY(-2px);
    animation: button_hover_animation 0.08s;
    text-decoration: underline 0.15vmax;
}

div.desktop div.text{
    position: absolute;
    top: 27vh;
    left: 70vw;
    text-align: center;
}

div.desktop div.text pre#nume{
    /* position: absolute;
    top: 30vh;
    left: 68vw; */
    color: rgb(48,42,119);
    letter-spacing: 0.4vmax;
    font-size: 4vmax;
    font-family: hermes-regular;
    margin-bottom: 10vh;
}

div.desktop div.text pre#citat{
    /* position: absolute;
    top: 60vh;
    left: 70vw; */
    color: black;
    font-size: 1.2vmax;
    font-family: montserrat-bold;
}

div.desktop div.social_media{
    display: flex;
    position: absolute;
    top: 90vh;
    left: 76vw;
}

div.desktop div.social_media a{
    margin-left: 2vw;
}

div.desktop div.social_media a img{
    height: 2.6vmax;
    width: 2.6vmax;
}

div.desktop div.social_media a:hover{
    animation: social_media_hover_animation 0.2s;
    transform: translateY(-0.2vmax);
}

/* mobile version */
div.mobile{
    margin: 0px;
}

div.mobile div.elements{
    position: relative;
    animation: load_buttons_animation 1s;
}

div.mobile div.elements div.background img{
    height: 100vh;
    width: 130vw;
}

div.mobile div.elements div.navigation_bar{
    animation: load_buttons_animation_mobile 1s;
    position: absolute;
    /* top: 1vh;
    right: 1vw; */
    top: 5vh;
    right: 8vw;
}

div.mobile div.elements div.navigation_bar input{
    /* width: 13vmax;
    height: 13vmax; */
    width: 6vmax;
    height: 6vmax;
}

div.mobile div.elements div.logo{
    animation: load_logo_animation_mobile 1s;
    position: absolute;
    top: 4.5vh;
    left: 6vw;
}

div.mobile div.elements div.logo img{
    width: 100%;
}

div.mobile div.elements div.text{
    position: absolute;
    top: 26vh;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-bottom: 100px;
}

div.mobile div.elements div.text pre#nume{
    /* position: absolute;
    top: 25vh;
    left: 5vw;
    right: 5vw; */
    text-align: center;
    color: rgb(48,42,119);
    letter-spacing: 0.4vmax;
    font-size: 15vw;
    font-family: hermes-regular;
}

div.mobile div.elements div.text pre#citat{
    /* position: absolute;
    top: 50vh;
    left: 10vw;
    right: 10vw; */
    color: black;
    font-size: 5vw;
    font-family: montserrat-bold;
}

div.mobile div.elements div.social_media{
    display: flex;
    position: absolute;
    top: 80vh;
    left: 50%;
    -webkit-transform: translateX(-40%);
    transform: translateX(-50%);
}

div.mobile div.elements div.social_media a{
    margin: 3vw;
}

div.mobile div.elements div.social_media a img{
    height: 6vmax;
    width: 6vmax;
}

div.mobile div.elements div.menu{
    position: absolute;
    top: 0vh;
    background-color: white;
    height: 100vh;
    right: 0;
    width: 65vw;
}

div.mobile div.elements div.menu button{
    position: relative;
    font-size: 5vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: transparent;
    border: 2px solid;
    left: 85.5%;
    color: rgb(48,42,119);
}

div.mobile div.elements div.menu img{
    margin: auto;
    position: relative;
    top: 5%;
    display: flex;
    width: 14vh;
    height: 14vh;
}

div.mobile div.elements div.menu ul{
    position: relative; 
    top: 10%; 
    left: -4%;
    list-style: none;
    text-align: center;
    font-size: 7vw;
}

div.mobile div.elements div.menu ul li{
    margin-top: 5vh;
}

div.mobile div.elements div.menu ul li a{
    text-decoration: none;
    color: rgb(48,42,119);
    font-family: montserrat-bold;
}

div.mobile div.elements div.menu div.social_media{
    position: absolute;
    top: 75vh;
}

div.mobile div.elements div.menu div.social_media a img{
    height: 5vmax;
    width: 5vmax;
}

@font-face {
    font-family: montserrat-bold;
    src: url(/Resources/Montserrat-Bold.ttf);
}

@font-face {
    font-family: hermes-regular;
    src: url(/Resources/Hermes-Regular.otf);
}

@keyframes button_hover_animation {
    0% {text-decoration: underline 0.03vmax;}
    25% {text-decoration: underline 0.06vmax;}
    50% {text-decoration: underline 0.09vmax;}
    75% {text-decoration: underline 0.12vmax;}
    100% {text-decoration: underline 0.15vmax;}
}

@keyframes shake_animation {
    0% { transform: translate(0.1vh, 0.1vw) rotate(0deg); }
  10% { transform: translate(-0.1vh, -0.2vw) rotate(-1deg); }
  20% { transform: translate(-0.3vh, 0vw) rotate(1deg); }
  30% { transform: translate(0.3vh, 0.2vw) rotate(0deg); }
  40% { transform: translate(0.1vh, -0.1vw) rotate(1deg); }
  50% { transform: translate(-0.1vh, 0.2vw) rotate(-1deg); }
  60% { transform: translate(-0.3vh, 0.1vw) rotate(0deg); }
  70% { transform: translate(0.3vh, 0.1vw) rotate(-1deg); }
  80% { transform: translate(-0.1vh, -0.1vw) rotate(1deg); }
  90% { transform: translate(0.1vh, 0.2vw) rotate(0deg); }
  100% { transform: translate(0.1vh, -0.2vw) rotate(-1deg); }
}

@keyframes load_buttons_animation {
    0% { 
        top: 10px;
        opacity: 0.1;
    }
    25% {
        opacity: 0.3;
    }
    50% { 
        opacity: 0.5;
    }
    75% { 
        opacity: 0.7;
    }
    100% { 
        opacity: 1;
    }
}

@keyframes load_buttons_animation_mobile {
    0% { 
        transform: translateX(-100px);
        opacity: 0.1;
    }
    25% {
        opacity: 0.3;
    }
    50% { 
        opacity: 0.5;
    }
    75% { 
        opacity: 0.7;
    }
    100% { 
        opacity: 1;
    }
}

@keyframes load_logo_animation {
    0% { 
        transform: translateX(15px);
        opacity: 0.1;
    }
    25% {
        opacity: 0.3;
    }
    50% { 
        right: 10px;
        opacity: 0.5;
    }
    75% { 
        opacity: 0.7;
    }
    100% { 
        opacity: 1;
    }
}

@keyframes load_logo_animation_mobile {
    0% { 
        transform: translateX(-100px);
        opacity: 0.1;
    }
    25% {
        opacity: 0.3;
    }
    50% { 
        opacity: 0.5;
    }
    75% { 
        opacity: 0.7;
    }
    100% { 
        opacity: 1;
    }
}

@keyframes social_media_hover_animation{
    0%{
        transform: translateY(-0.02vmax);
    }
    10%{

    }
    20%{
        transform: translateY(-0.04vmax);
    }
    30%{
        transform: translateY(-0.06vmax);
    }
    40%{
        transform: translateY(-0.08vmax);
    }
    50%{
        transform: translateY(-0.1vmax);
    }
    60%{
        transform: translateY(-0.12vmax);
    }
    70%{
        transform: translateY(-0.14vmax);
    }
    80%{
        transform: translateY(-0.16vmax);
    }
    90%{
        transform: translateY(-0.18vmax);
    }
    100%{
        transform: translateY(-0.2vmax);
    }
}

@keyframes load_menu_mobile {
    0%{
        right: -50%;
    }
}

@keyframes close_menu_mobile{
    0%{
    }
    100%{
        right: -60%;
    }
}

img {
    pointer-events: none;
}